
.listbg1{ background-color:#F2F5F6;}
.listbg2{ background-color:#FFDDC4;}
input{behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */}
#table_nav td{
	background:url(../../Content/images/top/nav.jpg) no-repeat; 
	height:29px; 
	width:110px; 
	text-align:center; 
	padding-left:5px;
	color:#FFF;
	font-size:13px;
	font-weight:bold;
}
#table_main_title td{
	height:33px;
	background:url(../../Content/images/main/titlebg.jpg) repeat-x;
	font-size:13px;
	color:#fff;
	font-weight:bold;
}

.table_form td{
	background:#F2F5F6;
	height:35px;
	font-size:13px;
	color:#02538B;
	line-height:35px;
	padding-left:12px;
	
}
.inputStyle1{
	border:1px solid #719AB9;
	height:20px;
	line-height:20px;
	background-image:url(../../Content/images/main/inputbg.gif);
 	padding-left:5px;
	width:96%;
	color:#004879;
}
.inputStyle2{
	border:none;
	border-bottom:1px solid #02538B;
	height:20px;	
	line-height:20px;
	width:99%;
	background:#F2F5F6;
	color:#004879;
}
#table_list_title td{
	background-image:url(../../Content/images/main/tableTitleBg.jpg);
	height:26px;
	vertical-align:middle;
}
#table_list{border-collapse:collapse;}
#table_list th{
	background-image:url(../../Content/images/main/th_bg.gif);
	height:25px;
	border:1px solid #8BA9BE;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	color:#02538B;

}
#table_list th .end{
	background-image:url(../../Content/images/main/th_bg.gif);
	height:25px;
	border:1px solid #8BA9BE;
	text-align:center;
	font-size:13px;
	font-weight:bold;
	color:#02538B;
	
}

.buttonStyle1
{
   border:none;
   width:42px;
   height:21px;
   line-height:21px;
   color:#ffffff;
   background:url(../../Content/images/main/button/buttonBg1.jpg); 
   }
#table_list td{height:25px; border:1px solid #92B1C6;}
#maincontent{overflow:scroll; width:100%;}
html {overflow-y:hidden}

.text-box
{
    border:1px solid #739AB9;
    width:96%;
    height:20px;
    line-height:20px;
    background:url(../../Content/images/main/inputbg.gif);
    color:#004879;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
